@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.btn__container {
  display: flex;
  justify-content: space-around;
  width: 216px;
  margin: 24px auto 0;

  @media (768px <= width <= 1279px) {
    justify-content: space-between;
    width: 150px;
  }
}

.btn {
  font-family: 'BiroScriptPlus-Bold', sans-serif;
  @include text(400, 24px, 24px);

  border: none;
  cursor: pointer;
  color: $main-text-color;
  background-color: inherit;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media (768px <= width <= 1279px) {
    @include text(400, 24px, 30px);
  }
}
