@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.map {
  @extend %container;
}

.map__title {
  @extend %title;
}

.map__list_slider {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.map__list {
  display: none;

  @media (768px <= width <= 1279px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
