@font-face {
  font-family: 'BiroScriptPlus';
  src: url('../fonts/BiroScriptPlus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansMono-Regular';
  src: url('../fonts/MessinaSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansMono-SemiBold';
  src: url('../fonts/MessinaSansMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rightgrotesk-spatialblack';
  src: url('../fonts/rightgrotesk-spatialblack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
