@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.arts {
  @extend %container;

  @media screen and (min-width: 768px) {
    padding: 80px 76px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 120px 112px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 120px 192px 0;
  }
}

.arts__title {
  @extend %title;
}

.arts__slick {
  @media screen and (max-width: 767px) {
    max-width: 276px;
    margin: 0 auto;
  }
}

.arts__slide {
  @media screen and (min-width: 768px) {
    padding: 0 12px;
  }
}

.arts__image {
  max-height: 326px;
  max-width: 276px;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    height: 326px;
    max-width: 284px;

    object-fit: cover;
    background-position: center;
  }

  @media screen and (min-width: 1280px) {
    height: 280px;
    max-width: 240px;
  }
}
