@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.arts {
  @extend %container;

  @media (768px <= width <= 1279px) {
    padding: 80px 76px 0;
  }
}

.arts__title {
  @extend %title;
}

.arts__slide {
  @media (768px <= width <= 1279px) {
    padding: 0 12px;
  }
}

.arts__image {
  overflow: hidden;
  max-height: 326px;
  max-width: 276px;
  border-radius: 23px;
  overflow: hidden;

  @media (768px <= width <= 1279px) {
    height: 326px;
    max-width: 284px;

    object-fit: cover;
    background-position: center;
  }
}
