@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.card {
  padding: 8px;
  border-radius: 12px;

  @media (768px <= width <= 1279px) {
    position: relative;
    border-radius: 16px;
    padding: 18px 16px 23px 188px;
  }
}

.card__head {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;

  &:focus .card__position,
  &:hover .card__position {
    color: $main-text-color;
  }

  &:focus .card__title,
  &:hover .card__title {
    color: $accent-color;
  }

  @media (768px <= width <= 1279px) {
    gap: 24px;
    margin-bottom: 12px;
  }
}

.card__position {
  font-family: 'BiroScriptPlus-Bold', sans-serif;
  color: $accent-color;
  @include text(400, 12px, 20px);
  white-space: nowrap;
  transition: color $transition;

  @media (768px <= width <= 1279px) {
    @include text(400, 16px, 27px);
  }
}

.card__title {
  font-family: 'Right Grotesk', sans-serif;
  @include text(900, 20px, 20px);
  text-transform: uppercase;
  transition: color $transition;

  @media (768px <= width <= 1279px) {
    @include text(900, 32px, 32px);
  }
}

.card__image {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%) rotate(-16deg);

  width: 148px;
  border-radius: 16px;
}

.card__text {
  @include text();
  padding-left: 31px;
  text-transform: uppercase;

  @media (768px <= width <= 1279px) {
    padding-left: 58px;
  }
}

.card__active {
  background-color: $second-text-color;

  &.card__position {
    color: $main-text-color;
  }

  &.card__title {
    color: $accent-color;
  }
}
