@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.about {
  position: relative;
}

.about__container {
  @extend %container;
  padding-bottom: 52px;
}

.about__title {
  font-family: 'Right Grotesk', sans-serif;
  color: $main-text-color;
  @include text(900, 40px, 40px);
  text-transform: uppercase;
  margin-bottom: 16px;

  & span {
    color: $accent-color;
  }

  & span:last-child {
    display: block;
  }
}

.about__content {
  @include text(400, 16px, 19px);
  text-align: right;
  margin-bottom: 36px;

  & span {
    display: block;
  }
}

.about__text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.about__icon {
  width: 24px;
  height: 24px;
}

.about__text {
  @include text();
  text-align: center;
  margin-bottom: 40px;
}

.about_image {
  width: 216px;
  margin: 0 auto;
}

.about_banner {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 52px;
  background-color: $accent-color;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & div svg {
    margin-left: 24px;
    margin-right: 24px;
  }

  & div p {
    font-family: 'Right Grotesk', sans-serif;
    color: $main-text-color;
    @include text(900, 36px, 36px);
    text-transform: uppercase;
  }
}

.about__banner_icon {
  width: 36px;
  height: 36px;
}
