@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.map__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 216px;
  height: 242px;
  padding: 24px 12px;

  border-radius: 12px;
  background-color: $second-background-color;
  transition: background-color $transition;
}

.map__link {
  position: relative;
  justify-content: end;
  background-color: $accent-color;
  cursor: pointer;
}

.map__icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 36px;
  height: 36px;
}

.map__text {
  color: $main-text-color;
  @include text();
  text-transform: uppercase;
}

.map__title {
  font-family: 'Right Grotesk', sans-serif;
  color: $main-text-color;
  @include text(900, 32px, 32px);
  text-transform: uppercase;
}
