@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.container {
  padding: 54px 8px 0px;

  @media screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1280px) {
    padding: 9px 16px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 16px 16px 0;
  }
}

.header {
  display: flex;
  flex-direction: column;

  min-width: 344px;
  max-width: 404px;
  margin: 0 auto;
  padding: 8px 8px 19px;

  border-radius: 12px;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    height: 421px;
    max-width: 736px;
    padding: 12px 12px 0;
  }

  @media screen and (min-width: 1280px) {
    height: 677px;
    max-width: 1248px;
    padding: 24px 16px 0;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1408px;
    padding: 24px 96px 0;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  &:hover .header__icon,
  &:focus .header__icon {
    fill: $main-text-color;
  }
}

.header__icon {
  width: 48px;
  height: 32px;
  fill: $second-text-color;
  transition: fill $transition;

  @media screen and (min-width: 1280px) {
    width: 72px;
    height: 50px;
  }
}

.header__nav {
  z-index: 5;
  backdrop-filter: blur(5px);
}

.header__menu_wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: $btn-background-color;
  transition: width $transition;

  @media screen and (min-width: 1280px) {
    width: 80px;
    height: 80px;
    border-radius: 12px;
  }

  &.open {
    @media screen and (min-width: 768px) {
      width: 288px;
    }

    @media screen and (min-width: 1280px) {
      width: 480px;
    }
  }
}

.header__menu_btn {
  width: 48px;
  height: 48px;

  padding: 0;
  border: none;
  cursor: pointer;

  background-color: transparent;

  & span {
    position: relative;
    font-family: 'MessinaSansMono-SemiBold', monospace;
    @include text(600, 12px, 14px);
    color: $second-text-color;
    transition: color $transition;

    @media screen and (min-width: 1280px) {
      @include text(600, 16px, 19px);
    }
  }

  &:hover span,
  &:focus span {
    color: $main-text-color;
  }

  & span::after {
    content: ' ';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;

    width: 0%;
    height: 1px;

    border-radius: 1px;
    background-color: $main-text-color;
    transition: width $transition;
  }

  &:hover span::after,
  &:focus span::after {
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    width: 80px;
    height: 80px;
  }
}

.header__menu_link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'MessinaSansMono-SemiBold', monospace;
  @include text(600, 12px, 14px);
  color: $second-text-color;
  opacity: 0;
  transition: color $transition, opacity $transition;
  text-transform: uppercase;
  cursor: pointer;

  width: 48px;
  height: 48px;

  @media screen and (min-width: 1280px) {
    @include text(600, 16px, 19px);
    width: 80px;
    height: 80px;
  }

  & span {
    position: relative;
  }

  &:hover span,
  &:focus span {
    color: $main-text-color;
  }

  & span::after {
    content: ' ';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;

    width: 0%;
    height: 1px;

    border-radius: 1px;
    background-color: $main-text-color;
    transition: width $transition;
  }

  &:hover span::after,
  &:focus span::after {
    width: 100%;
  }

  &.open {
    opacity: 1;
  }
}

.header__main_container {
  position: relative;
  z-index: 5;
}

.header__media_links {
  position: absolute;
  top: 8px;
  right: 0;

  @media screen and (min-width: 1280px) {
    top: 16px;
  }
}

.header__media_item {
  &:not(:last-of-type) {
    margin-bottom: 8px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 16px;
    }
  }
}

.header__media_link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 8px;
  background-color: $btn-background-color;

  @media screen and (min-width: 1280px) {
    width: 80px;
    height: 80px;
    border-radius: 12px;
  }

  &:hover .header__media_icon,
  &:focus .header__media_icon {
    fill: $main-text-color;
  }
}

.header__media_icon {
  width: 16px;
  height: 16px;
  fill: $second-text-color;
  transition: fill $transition;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
