@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.container {
  padding: 54px 8px 0px;
}

.header {
  min-width: 344px;
  max-width: 404px;
  margin: 0 auto;
  padding: 8px 8px 19px;

  border-radius: 12px;
  background-color: $accent-color;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  &:hover .header__icon,
  &:focus .header__icon {
    fill: $main-text-color;
  }
}

.header__icon {
  fill: $second-text-color;
  transition: fill $transition;
}

.header__menu_btn {
  width: 48px;
  height: 48px;

  padding: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: $btn-background-color;

  & span {
    position: relative;
    font-family: 'MessinaSansMono-SemiBold', monospace;
    @include text(600, 12px, 14px);
    color: $second-text-color;
    transition: color $transition;
  }

  &:hover span,
  &:focus span {
    color: $main-text-color;
  }

  & span::after {
    content: ' ';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;

    width: 0%;
    height: 1px;

    border-radius: 1px;
    background-color: $main-text-color;
    transition: width $transition;
  }

  &:hover span::after,
  &:focus span::after {
    width: 100%;
  }
}

.header__main_container {
  position: relative;
}

.header__media_links {
  position: absolute;
  top: 8px;
  right: 0;
}

.header__media_item {
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.header__media_link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 8px;
  background-color: $btn-background-color;

  &:hover .header__media_icon,
  &:focus .header__media_icon {
    fill: $main-text-color;
  }
}

.header__media_icon {
  fill: $second-text-color;
  transition: fill $transition;
}
