@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.footer {
  @extend %container;
  padding-bottom: 24px;

  @media (768px <= width <= 1279px) {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
}

.copyright {
  @include text(400, 12px, 14px);
  text-transform: uppercase;
  text-align: center;
}
